*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* ESTILOS  DE LI DEL NAV ---- FIN */

.cel{
    visibility: visible;
    background-color: rgb(244, 244, 244);
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid silver;
    position: fixed;


}

.bgr{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 5px;
}

.spc{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
background-color: rgba(255, 255, 255, 0);
}

.resaltado{
    color: rgb(52, 48, 110);
}


.spc:hover .burger{
    visibility: visible;
    opacity: 100%;
    transform: translateX(-50px) translateY(30px);
    background-color: rgb(119, 137, 152);
    width: 100px;
    height: 70px;
padding: 20px;
border-radius: 8.0px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
}

.burger{
    visibility: hidden;
    opacity: 0%;
    transition: 0.3s;
    width: 0px;
    height: 0px;
    position:absolute;
}

.burger>li{
    padding: 5px;
    width: 110px;

}




.imgs{
    width: 35%;
    margin-right: 0%;
}



.linea{
    visibility: visible;
    opacity: 1;
    background-color: darkgray;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    margin-left: -290%;
    transition: 0.3s;
}


.spc:hover .linea:nth-child(2){
    visibility: hidden;
    background-color: rgba(169, 169, 169, 0);
    transition: 0.1s all;
}

.spc:hover .linea:nth-child(1){
    transform: rotate(45deg) translateY(15px);
}

.spc:hover .linea:nth-child(3){
    transform: rotate(135deg) translateY(15px) translateX(1px);

}


.compu{
    visibility: hidden;
    background-color: rgb(244, 244, 244);
    border-bottom: 1px solid silver;
    padding: 5px;
    color: #000;
}

.compu>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.resaltado{
    color: rgb(155, 153, 191);
    border-bottom: 3px solid rgb(155, 153, 191);
    transition: 0.3s;
}

.bt{
    color: #000;
    transition: 0.5s;
    border-bottom: 0px solid rgba(155, 153, 191, 0);
}



.bt:hover{
    color: rgb(155, 153, 191);
    border-bottom: 3px solid rgb(155, 153, 191);
    padding: 3px;
    border-radius: 1px;
    transition: 0.3s;
}

.resaltado:hover{
    color: #000;
    border-bottom: 0px solid rgba(155, 153, 191, 0);
    transition: 0.5s;
}



@media (min-width:1024px){
    .compu{
        visibility: visible;

    }

    .cel{
        visibility: hidden;
    }
    .burger{
        visibility: hidden;
    }
    .spc{
        visibility: hidden;
    }

    .linea{
        visibility: hidden;
    }



   
}

/* NAV ESTILOS FIN */


/* Header Estilos------Inicio */

header{

height: 35vh;
   background-image: url(images/bc\ madera.jpg);
    display: flex;
    align-items:center ;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.container{
    position: fixed;
    display: flex;
    align-items:center ;
    align-content: center;
    justify-content: center;
    flex-direction: column;
gap: 2px;
height: 29vh;
padding: 10px;
    backdrop-filter: blur(1px)  brightness(80%);
}

#title{
    text-align: center;
    padding: 10px;
    width: 50%;
    font-size: 1.5rem;
    border-bottom: 4px solid rgb(255, 255, 255);
    animation: brd 2s;
}

@keyframes brd{
    0%{
        width: 0%;
        opacity: 0%;
        border-bottom: 4px solid rgba(255, 255, 255, 0);

    }

20%{
    width: 80%;
}

    50%{
        width: 70%;
        opacity: 100%;
   
    }


   100%{
    border-bottom: 4px solid rgb(255, 255, 255);
   }
}


.e1{
    padding: 5px;
    width: 70%;
    animation: borde 2s;
    border-bottom: 4px solid rgb(255, 255, 255);
    
}



@keyframes borde{
    0%{
        width: 0%;
        opacity: 0%;
        border-bottom: 4px solid rgba(255, 255, 255, 0);

    }

20%{
    width: 80%;
}

    50%{
        width: 70%;
        opacity: 100%;
   
    }


   100%{
    border-bottom: 4px solid rgb(255, 255, 255);
   }
}

@media screen and (min-width:1024px) {
    


header{

    height: 100%;
    opacity: 100%;
    background-image: url(images/bc\ madera.jpg);
    display: flex;
    align-items:center ;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;

}

.container{
    display: flex;
    align-items:center ;
    align-content: center;
    justify-content: center;
    flex-direction: column;
width: 100%;
gap: 30px;
    height: 74vh;
    padding:10px ;
    backdrop-filter: blur(1px)  brightness(80%);
}

h1{
    text-align: center;
    padding: 10px;
    width: 50%;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.e1{
    padding: 30px;
    width: 50%;
    animation: borde 2s;
    border-bottom: 5px solid rgb(255, 255, 255);
    
}




}

@keyframes borde{
    0%{
        width: 0%;
        opacity: 0%;
        border-bottom: 5px solid rgba(255, 255, 255, 0);

    }

    50%{
        width: 50%;
        opacity: 100%;
   
    }

   100%{
    border-bottom: 5px solid rgb(255, 255, 255);
   }
}
/* Header Estilos------Fin */








/* PARA HACER UN BOTON DE LA FORMA 
MÁS SENCILLA PODEMOS UTILILAR LOS 
SIGUIENTES ESTILOS */

.socials{
    top: 26%;
    left:85%;
    position: fixed;
}

.boton{
    height: 50px;
    width: 50px;
    background-color: #008716;
    border-radius: 24px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.boton:hover{
    height: 130px;
    width: 50px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 10px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border:hidden;
}

button:hover{
    justify-content: flex-start;
}

.src{
  
    padding: 5px;
    height: 25px;
    width: 25px;
    
    transition: all;
transition-duration: 1s;
}

.boton:hover .src{
    height: 0px;
    width: 0px;
    opacity: 50%;
   
}

.tmn{
    height: 0px;
    width: 0px;
    opacity: 0%;
    transition: all ease-out;
    transition-duration: 0.5s;
    
}

.boton:hover .tmn{
    padding: 5px;
    height: 25px;
    width: 25px;
    opacity: 100%;
}



button ul li{
    list-style:none;
}

ul li a.tmn:hover img{
    opacity: 30%;
}

button ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
    
}

div button ul li a{
  height: 0px;
  width: 0px;
    
}

/*Y LISTO BOTON HECHO*/
